<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Home Page</title>
</head>
<body>
 
<h1>This is home Page</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam exercitationem sed dolore ut rerum dignissimos assumenda corporis, veniam, reprehenderit laborum et. Vel iste saepe temporibus dolore dolor tempora perferendis aut, repellendus nobis incidunt quo repudiandae voluptate? Soluta quas doloremque quidem?</p>  
 
<a href="about">ABOUT</a>
<a href="users">USERS API</a>
</body>
</html>